{
  "account": "",
  "client_id": "placeholder.apps.googleusercontent.com",
  "client_secret": "placeholder",
  "refresh_token": "placeholder",
  "type": "authorized_user",
  "universe_domain": "googleapis.com"
}
